body {
  font-family: 'Montserrat', sans-serif; }

input {
  -webkit-appearance: none; }

.top-alliance {
  background: url("../img/hero.jpg") no-repeat center;
  background-size: cover;
  padding-top: 25px;
  text-align: center;
  color: #FFF; }
  .top-alliance .homepage a {
    padding-right: 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400; }
    .top-alliance .homepage a span {
      text-decoration: underline; }
  .top-alliance .page1 {
    position: relative;
    height: calc(100vh - 120px);
    display: table; }
    .top-alliance .page1 .cell {
      display: table-cell;
      vertical-align: middle; }
    .top-alliance .page1 .scroll-arrow {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -13px; }
  .top-alliance .white-logos {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    text-align: center; }
    .top-alliance .white-logos img {
      width: 80%; }
  .top-alliance h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 55px;
    margin: 0 0 30px; }
    .top-alliance h1 span {
      font-weight: 700;
      color: #ff6a46; }
  .top-alliance h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 75px; }
  .top-alliance h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 15px;
    color: #ff6a46; }
  .top-alliance p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 120px; }
  .top-alliance .network {
    background: url("../img/network.png") no-repeat center;
    background-size: cover;
    height: 24.0343347639485vw; }

.decentralized {
  background: url("../img/city.jpg") no-repeat center;
  background-size: cover;
  display: table;
  color: #FFF;
  text-align: center;
  position: relative;
  width: 100%;
  height: 43.85714285714286vw;
  height: 56vw;
  overflow: hidden; }
  .decentralized .cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2; }
  .decentralized h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 35px; }
  .decentralized p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 35px; }
    .decentralized p span {
      font-weight: 700; }
  .decentralized video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
  .decentralized .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); }

.members {
  padding-top: 60px; }
  .members h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 70px;
    color: #333; }
  .members a {
    display: block;
    position: relative; }
    .members a .alliance-popup {
      min-height: 230px;
      opacity: 0;
      position: absolute;
      top: -45%;
      background: #FFF;
      z-index: 2;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 38px 6px rgba(222, 221, 221, 0.84);
      -moz-box-shadow: 0px 0px 38px 6px rgba(222, 221, 221, 0.84);
      box-shadow: 0px 0px 38px 6px rgba(222, 221, 221, 0.84);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .members a .alliance-popup img {
        margin: 0;
        height: 60px; }
      .members a .alliance-popup h5 {
        font-size: 13px;
        color: #363840;
        font-weight: 500;
        padding: 0 10px 10px;
        margin: 0; }
    .members a:hover .alliance-popup {
      opacity: 1; }
    .members a:hover, .members a:active, .members a:focus {
      outline: none; }
  .members img {
    height: 90px;
    margin-bottom: 60px; }
  .members .popover-content img {
    margin: 0;
    height: auto;
    width: 100%; }

.alliance-modal .modal-dialog button.close {
  position: absolute;
  right: 10px;
  color: #a7a7a7;
  opacity: 1;
  font-size: 36px; }
.alliance-modal .modal-content {
  border: none; }
.alliance-modal a {
  display: block;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: #4361d8; }
.alliance-modal h5 {
  font-size: 13px;
  color: #363840;
  font-weight: 500;
  line-height: 21px;
  padding: 0 10px 20px;
  margin: 0; }

.join-dav {
  background: #f3f3f3;
  padding: 70px 0; }
  .join-dav h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 35px;
    color: #333;
    text-align: center; }
  .join-dav p {
    font-weight: 400;
    font-size: 15px;
    color: #363840;
    text-align: center;
    margin: 0 0 45px; }
  .join-dav label {
    font-weight: 500;
    display: block;
    font-size: 15px;
    color: #363840;
    margin: 0 0 5px; }
  .join-dav input[type=text] {
    line-height: 56px;
    height: 56px;
    display: block;
    background: #FFF;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #9e9fa1;
    border-radius: 5px;
    margin: 0 0 15px; }
  .join-dav input[type=submit] {
    display: inline-block;
    border: none;
    background: #ff6a46;
    border-radius: 5px;
    color: #FFF;
    height: 47px;
    font-size: 15px;
    font-weight: 700;
    margin: 30px 0 0;
    padding: 0 50px; }

.colab {
  background: url("../img/colab.jpg") no-repeat;
  background-size: cover;
  display: table;
  color: #FFF;
  text-align: center;
  width: 100%;
  height: 33.14285714285714vw; }
  .colab .cell {
    display: table-cell;
    vertical-align: middle; }
  .colab h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 30px; }
  .colab h3 {
    font-weight: 300;
    font-size: 26px;
    margin: 0 0 60px; }
  .colab a {
    color: #ff6a46;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500; }

.team {
  padding: 70px 0;
  text-align: center; }
  .team h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 35px;
    color: #333; }
  .team p {
    color: #363840;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 70px;
    padding: 0 10%; }
  .team .brands a {
    display: inline-block;
    margin: 0 35px; }
    .team .brands a img {
      height: 65px;
      margin: 10px 0; }
  .team #dav-link {
    display: inline-block;
    border: none;
    background: #ff6a46;
    border-radius: 5px;
    color: #FFF;
    height: 47px;
    line-height: 45px;
    font-size: 15px;
    font-weight: 700;
    margin: 70px 0 0;
    padding: 0 50px; }

footer {
  padding: 100px 0 0; }
  footer .footer-gray {
    background: #333333;
    padding: 35px 0;
    color: #FFF; }
  footer .social a {
    display: inline-block;
    margin: 20px 23px; }
    footer .social a img {
      height: 50px; }
  footer h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0 40px;
    color: #333333;
    text-align: center; }
  footer .links p, footer .links a {
    font-size: 15px;
    color: #271e36;
    font-weight: 300;
    text-decoration: underline;
    line-height: 30px; }
  footer .links p {
    text-decoration: none;
    margin-bottom: 30px; }
  footer .line {
    height: 1px;
    background: #d4d4d4;
    margin-bottom: 30px; }
  footer .about-legal h4 {
    font-size: 15px;
    color: #FFF;
    font-weight: 700;
    line-height: 30px;
    margin: 0px; }
  footer .about-legal a {
    font-size: 15px;
    display: block;
    line-height: 30px;
    color: #FFF;
    margin-top: 18px; }
  footer .about-legal .social a {
    display: inline-block;
    min-width: 32%;
    margin: 6px 0; }
    footer .about-legal .social a img {
      margin-right: 6px;
      display: inline-block;
      height: 38px; }
  footer .copyright {
    font-size: 13px;
    color: #FFF;
    text-align: center;
    margin-top: 40px; }

.team-modal .modal-dialog button.close {
  opacity: 1;
  color: #333;
  font-size: 36px; }
  .team-modal .modal-dialog button.close:focus, .team-modal .modal-dialog button.close:active {
    outline: none; }
.team-modal .modal-dialog .modal-content {
  box-shadow: none;
  border-radius: 3px; }
  .team-modal .modal-dialog .modal-content .modal-body {
    padding-bottom: 50px; }

label.error {
  color: #ff6a46; }

@media (max-width: 1400px) {
  .team .brands a {
    margin: 0 25px; } }
@media (max-width: 1025px) {
  .top-alliance .text-left img {
    height: 50px; }
  .top-alliance .white-logos {
    margin-bottom: 60px; }

  video {
    display: none; }

  .team .brands a {
    margin: 0 15px; }
    .team .brands a img {
      height: 55px; } }
@media (max-width: 992px) {
  .team .brands a {
    margin: 0 10px; }
    .team .brands a img {
      height: 40px; }

  .colab {
    height: 53.14285714285714vw; }

  footer .about-legal .social a {
    min-width: 49%; } }
@media (max-width: 767px) {
  footer .links {
    text-align: center; }

  .top-alliance .homepage a {
    padding-right: 0px;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block; }

  .decentralized {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

  .join-dav h2, .join-dav p {
    padding-left: 15px;
    padding-right: 15px; }

  .members img {
    height: 60px;
    margin-bottom: 30px; }

  .colab {
    height: 123.14285714285714vw; }
    .colab h2 {
      font-size: 20px; }
    .colab h3 {
      font-size: 18px; }

  .team .brands a {
    margin: 0 20px; }
    .team .brands a img {
      height: 60px; }

  .team p {
    padding: 0px; }

  .top-alliance h1 {
    font-size: 23px;
    line-height: 38px; }
  .top-alliance h2 {
    font-size: 20px; }
  .top-alliance .white-logos,
  .top-alliance p {
    margin: 0 0 60px; }
    .top-alliance .white-logos img,
    .top-alliance p img {
      width: 100%; }
  .top-alliance .network {
    height: 50vw; }

  .top-alliance .page1 {
    height: calc(100vh - 75px); } }

/*# sourceMappingURL=style.css.map */
